.details {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 20px;
}

.buttons-row {
  margin: -0.5rem;
}

button[nbButton] {
  margin: 0.5rem;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  display: table;
  line-height: 1.5em;
  max-width: 100%;
  overflow: auto;
  width: 100%;
}

.ng2-smart-table-filter {
  padding: 0.375rem 0.5rem;
}

.batch_status {
  margin-left: 4px;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 7px 1.2rem;
  background: #f0f0f4;
  line-height: 16px;
  color: #446;
  border: 1px solid #ddd8;
  position: relative;
  top: -1px;
}

.avis-box label {
  padding: 0 1rem;
  margin: 0;
  color: red;
  border-bottom: 1px solid #AAA;
  font-weight: bold;
}
.avis-box-elem {
  margin-bottom:10px;
}
.avis-box-elem > div {
  padding: 0 0.75rem;
  font-weight: bolder;
  height: 2rem;
  line-height: 2rem;
  color: #000C;
}
.avis_label {
  position: relative;
  cursor: pointer;
}
.avis_label > .vb-message {
  position: absolute;
  z-index: 1000;
  top: 20px;
  left: 50%;
  width: 200px;
  text-align: left;
}
.avis-box {
  margin-bottom: 1rem;
  border: 1px solid #DDD;
}
.avis-box:hover {
  background: #F0F0F0;
}
.avis-box.vb-editable {

  border-radius: 0px;
}

table tr td, table tr th {
  max-width: 150px;
}


.av-action {
  padding: 5px 8px;
  color: #444;
  text-align: center;
  margin: 8px;
  border-radius: 3px;
  font-family: Source Sans pro, sans-serif;
}

.fileInput {
  cursor: pointer;
  position:absolute;
  width: 130px;
  right: auto;
  z-index: 99;
  opacity: 0;
}

.pdf-container {
  border: solid 1px red;
  display: block;
  height: 500px;
}

.viewer {
  position: relative;
  height: 100%;
  width: 100%;
}
