<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-body>
        <div class="flex-centered col-xl-4 col-lg-6 col-md-8 col-sm-12">
          <h2 class="title">Accès non autorisés</h2>
          <small class="sub-title">La page que vous recherchez n'existe pas ou vous n'êtes pas autorisés à acceder à cette page</small>
          <button nbButton fullWidth  type="button" class="home-button" (click)="goToHome()">
            Retourner à la page d'accueil
          </button>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>

