<nb-card>
    <nb-card-header class="d-flex justify-content-between mb-4">
      <div >
        <h5>Liste des Fournisseurs du projet 1</h5>
      </div>
      <div>
      </div>
    </nb-card-header>
  
  </nb-card>
  <nb-card>
      <nb-card-body>
          <table aria-describedby="app-ref"  class="w-100 table-hover">
              <thead>
              <!--         <tr class="h-auto text-white">
                         <th>Nom</th>
                         <th>Description</th>
                         <th>Actions</th>
                       </tr-->
              <tr class="h-auto text-white">
                <th>
                  Code Fournisseur
                  <!--                      <input nbInput [(ngModel)]="name" (ngModelChange)="getAllApps(1)" placeholder="Application" fullWidth/>-->
                </th>
                <th>
                  Nom Complet
                  <!--                      <input nbInput [(ngModel)]="description" (ngModelChange)="getAllApps(1)" placeholder="Description" fullWidth/>-->
                </th>
                <th>Notation</th>
                <th>Disponibilité</th>
                <th>Status</th>
    
              </tr>
              </thead>
    
              <tbody>
              <tr >
                <td>MA101</td>
                <td>Yassine EL MANIARI</td>
                <td>7/10</td>
                <td>Immediate</td>
                <td>Mieux Disant</td>
              </tr>
              <tr>
                <td>MA101</td>
                <td>Taha EL MANIARI</td>
                <td>7/10</td>
                <td>Immediate</td>
                <td>Mieux Disant</td>
              </tr>
              </tbody>
            </table>
      </nb-card-body>
  </nb-card>