
<nb-card>
  <nb-card-header class="d-flex justify-content-between">
    <h1> Création Formulaire  </h1>
    <button [hidden]="createModeBtnHidden"  nbButton status="success" size="medium" class="ms-1 mt-0 me-0 mb-0 " type="button" (click)="handelActivateCreateMode()" >Nouvelle création </button>

  </nb-card-header>
  <nb-card-body>

        <form [formGroup]="createTemplateFormGroup"  (ngSubmit)="handelCreateTemplate()"   class="d-flex row justify-content-center">
          <div class="col-lg-3 align-self-start ">
            <label for="templateName" class="mb-3 ms-0"> <strong>Nom de template</strong><span class="caption status-danger"><strong>*</strong></span></label>
            <input id="templateName" class="mt-2"   nbInput fullWidth type="text" formControlName="templateName"  (change)="handelActivateMajBtn()" class="align-items-end"  >

            <div class="text-danger">
              <div *ngIf="createTemplateFormGroup.controls['templateName'].errors?.['required'] && createTemplateFormGroup.touched">
                <span class="ms-2">  Champ Obligatoire </span>
              </div>

              <div *ngIf="createTemplateFormGroup.controls['templateName'].errors?.['maxlength'] && createTemplateFormGroup.touched">
                <span class="ms-2">  Champ ne doit pas dépasser 255 caractères </span>
              </div>
            </div>
          </div>


          <div class="col-lg-3 row align-self-start">
            <label for="application" class="mb-3  ms-0"><strong>Type de demande</strong><span class="caption status-danger"><strong>*</strong></span></label>
            <nb-select formControlName="typeDemnade" >
              <nb-option *ngFor=" let td of typeDemandes; index as i" (click)="setTypeDemandeForTemplate(td)"   value="{{td.id}}" >{{td.libelle}} </nb-option>
            </nb-select>
            <div class="text-danger">
              <div *ngIf="createTemplateFormGroup.controls['typeDemnade'].errors?.['required'] && createTemplateFormGroup.touched ">
                <span class="ms-2">  Champ Obligatoire </span>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <label for="application" class="mb-2  ms-0"><strong>Application</strong><span class="caption status-danger"><strong>*</strong></span></label>
            <ng-select id="application" class="p-2" [items]="applications" [(ngModel)]="selectedApplication"  [multiple]="true" (change)="handelAddApplication(selectedApplication)" bindLabel="name" formControlName="application" >
            </ng-select>
            <div class="text-danger">
              <div *ngIf="createTemplateFormGroup.controls['application'].errors?.['required'] && createTemplateFormGroup.touched ">
                <span class="ms-2 mt-0">  Champ Obligatoire </span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 d-flex align-items-end">
              <div *ngIf="!editMode || editMode == undefined " [hidden]="initTemplateBtnHidden">
                <button  nbButton status="success" size="medium"   type="submit" > Créer </button>
              </div>

          </div>

      </form>

    <br>

    <div class="row mt-4">
      <nb-card>
        <nb-card-header>
          <h5>Prévisualisation du template</h5>
        </nb-card-header>
        <nb-card-body class="d-flex row">
          <div class="col-lg-6">


            <form [formGroup]="genFormGroup"  class="mt-2">

              <div class="row mb-4 ">
                  <div class="col-lg-12" *ngFor="let field of formFields ; index as i ">
                    <h5 class="mb-2 mt-2 fs-6">{{field.label}}</h5>
                      <div class="d-flex  justify-content-between">
                        <div class="col-lg-8">
                        <input  *ngIf="field.inputTp === 'text'" nbInput type="{{field.inputTp}}" placeholder="{{field.placeholder}}"  [formControlName]="field.formCtlName" >
                        </div>
                        <div *ngIf="editMode || createMode">
                          <button *ngIf="newTemplateFieldList.length !=0 && field.inputTp === 'text'" nbButton type="button" class="m-0 me-2" (click)="handelDeleteFeild(field,i)"> <nb-icon icon="close" style="width: 15px; height: 15px"> </nb-icon></button>
                          <button *ngIf="newTemplateFieldList.length !=0 && field.inputTp === 'text' && !activateCreationMode && field.id_aft != '' " nbButton type="button" class="m-0" (click)="handelEditFeild(field,i)"> <nb-icon icon="edit" style="width: 15px; height: 15px"> </nb-icon></button>

                        </div>

                      </div>

                    <div class="d-flex  justify-content-between">
                      <div class="col-lg-8">
                        <div *ngIf="field.inputTp === 'radio'" >
                          <nb-radio-group [formControlName]="field.formCtlName">
                            <nb-radio value="true" [checked]="isSelected === true"> True </nb-radio>
                            <nb-radio value="false" [checked]="isSelected === false"> False </nb-radio>
                          </nb-radio-group>

                        </div>
                      </div>
                      <div *ngIf="editMode || createMode">
                        <button *ngIf="newTemplateFieldList.length !=0 && field.inputTp === 'radio'" nbButton type="button" class="m-0 me-2"(click)="handelDeleteFeild(field,i)"> <nb-icon icon="close" style="width: 15px; height: 15px"> </nb-icon></button>
                        <button *ngIf="newTemplateFieldList.length !=0 && field.inputTp === 'radio' && !activateCreationMode && field.id_aft != null" nbButton type="button" class="m-0" (click)="handelEditFeild(field,i)"> <nb-icon icon="edit" style="width: 15px; height: 15px"> </nb-icon></button>

                      </div>

                    </div>

                    <div class="d-flex justify-content-between">
                      <div class="col-lg-8">
                        <input  *ngIf="field.inputTp === 'date'" nbInput type="date" placeholder="{{field.placeholder}}"  [formControlName]="field.formCtlName" >
                      </div>
                      <div *ngIf="editMode || createMode" class="d-flex ">
                        <button *ngIf="newTemplateFieldList.length !=0 && field.inputTp === 'date'" nbButton type="button" class="m-0 me-2" (click)="handelDeleteFeild(field,i)"> <nb-icon icon="close" style="width: 15px; height: 15px"> </nb-icon></button>
                        <button *ngIf="newTemplateFieldList.length !=0 && field.inputTp === 'date' && !activateCreationMode && field.id_aft != null" nbButton type="button" class="m-0" (click)="handelEditFeild(field,i)"> <nb-icon icon="edit" style="width: 15px; height: 15px"> </nb-icon></button>
                      </div>

                    </div>

                    <div class="d-flex  justify-content-between">
                      <div class="col-lg-8">
                        <input  *ngIf="field.inputTp === 'number'" nbInput type="number" placeholder="{{field.placeholder}}"  [formControlName]="field.formCtlName" >
                      </div>
                      <div *ngIf="editMode || createMode">
                        <button *ngIf="newTemplateFieldList.length !=0 && field.inputTp === 'number'" nbButton type="button" class="m-0 me-2"  (click)="handelDeleteFeild(field,i)"> <nb-icon icon="close" style="width: 15px; height: 15px"> </nb-icon></button>
                        <button *ngIf="newTemplateFieldList.length !=0 && field.inputTp === 'number' && !activateCreationMode && field.id_aft != null" nbButton type="button" class="m-0" (click)="handelEditFeild(field,i)"> <nb-icon icon="edit" style="width: 15px; height: 15px"> </nb-icon></button>

                      </div>

                    </div>



                    <div *ngIf="createTemplateFormGroup.touched" class="text-danger">

                      <div *ngIf="genFormGroup.controls[field.formCtlName].errors?.['required'] ">
                        <div *ngFor="let val of field.validators; index as m" >
                          <span *ngIf="val.valType === 'required'" >{{field.validators[m].description}}  </span>
                        </div>
                      </div>

                      <div *ngIf="genFormGroup.controls[field.formCtlName].errors?.['minlength'] ">
                        <div *ngFor="let val of field.validators; index as j" >
                          <span *ngIf="val.valType === 'minLenght'" >{{field.validators[j].description}} {{val.valValue}} </span>
                        </div>
                      </div>

                      <div *ngIf="genFormGroup.controls[field.formCtlName].errors?.['pattern'] ">

                        <div *ngFor="let val of field.validators ; index as k" >
                          <span *ngIf="val.valSubType === 'email'" >{{field.validators[k].description}}   </span>

                        </div>
                      </div>

                      <div *ngIf="genFormGroup.controls[field.formCtlName].errors?.['min'] ">

                        <div *ngFor="let val of field.validators ; index as l" >
                          <span *ngIf="val.valType === 'min'" >{{field.validators[l].description}} {{val.valValue}}   </span>

                        </div>
                      </div>

                      <div *ngIf="genFormGroup.controls[field.formCtlName].errors?.['max'] ">

                        <div *ngFor="let val of field.validators ; index as l" >
                          <span *ngIf="val.valType === 'max'" >{{field.validators[l].description}} {{val.valValue}}   </span>

                        </div>
                      </div>

                    </div>
                  </div>

              </div>

            </form>

            <div class="row justify-content-end">
              <button  nbButton type="button" class="m-0 me-2 col-sm-1"   [hidden]="addFieledInEditDisabled || viewMode" (click)="handelAddFieldInEditMode()"> <nb-icon icon="plus" style="width: 15px; height: 15px"> </nb-icon></button>

            </div>
          </div>
          <div class="col-lg-6">
            <nb-card>
              <nb-card-body>
                <table aria-describedby="app-ref"  class="w-100 table-hover">
                  <thead>
         <!--         <tr class="h-auto text-white">
                    <th>Nom</th>
                    <th>Description</th>
                    <th>Actions</th>
                  </tr-->
                  <tr class="h-auto text-white">
                    <th>
                      Nom Template
<!--                      <input nbInput [(ngModel)]="name" (ngModelChange)="getAllApps(1)" placeholder="Application" fullWidth/>-->
                    </th>
                    <th>
                      Action
<!--                      <input nbInput [(ngModel)]="description" (ngModelChange)="getAllApps(1)" placeholder="Description" fullWidth/>-->
                    </th>

                  </tr>
                  </thead>
                  <tbody>
                  <tr   *ngFor="let template of templateNamesAndIds | paginate : {
                  itemsPerPage: pageSize,
                  currentPage: page,
                  totalItems: count
                     };
                    let i = index">

                    <td>{{template.templateNm}}</td>
                    <td>
                      <button nbButton ghost (click)="handelViewTemplate(template.templateID)" ><nb-icon icon="eye"></nb-icon></button>
                      <button nbButton ghost (click)="handelUpdateTemplate(template.templateID)" ><nb-icon icon="edit"></nb-icon></button>
                      <button nbButton ghost (click)="handelDeleteTemplate(template.templateID)"><nb-icon icon="trash"></nb-icon></button>

                    </td>

            <!--        <td>
                      <div>
                        <a (click)="open(ref.typeDemandeList,ref, true)" style="cursor: pointer"><nb-icon icon="pen-to-square" status="basic"></nb-icon></a>
                        <a class="ms-3" (click)="delete(ref)" style="cursor: pointer"><nb-icon icon="remove" status="basic"></nb-icon></a>
                      </div>
                    </td>-->
                  </tr>


        <!--          <tr *ngIf="applications?.length===0">
                    <td colSpan="10" style="font-size: 0.8rem" class="text-center">Aucune application</td>
                  </tr>-->
                  </tbody>
                </table>
              </nb-card-body>
           <!--   <nb-card-footer class="d-flex justify-content-end">
                <button [hidden]="createModeBtnHidden"  nbButton status="success" size="medium" class="ms-1 mt-0 me-0 mb-0 " type="button" (click)="handelActivateCreateMode()" >Mode creation </button>
              </nb-card-footer>-->
            </nb-card>


          </div>

        </nb-card-body>
      </nb-card>

    </div>
    <nb-card [hidden]="formParameterCardHidden">
      <nb-card-header>
        <h5>Parametrage du formulaire</h5>
      </nb-card-header>
      <nb-card-body>
        <gh-form-creator [templateName]="templateName"
                         [applicationList]="applicationListForTemplate"
                         [typeDemandeId]="typeDemandeForTemplate"
                         [templateID]="templateIdentifier"
                         [showFieldTable]="activateFieldTableDisabled"
                         [indexForUpdate]="indexForEditMode"
                         [fieledForUpdate]="fieldForEditMode"
                         [addFieledOnEdit]="addFieldOnEditMode"
                         [creationMode]="activateCreationMode"
                         (activteSaveTemplateBtn)="handelActivateSaveTemplateBtn($event)"
                         (newTemplateFiledEventEmitter)="handelAddFieldFromChild($event)"></gh-form-creator>
      </nb-card-body>
    </nb-card>

  </nb-card-body>
  <nb-card-footer class="d-flex justify-content-end">
    <button *ngIf="createMode || viewMode" nbButton status="danger" size="medium" class="ms-1 mt-0 me-0 mb-0 " type="button" [disabled]="saveTemplateActive" (click)="handelSaveTemplate()">Enregistrer</button>
    <button *ngIf="editMode && !viewMode" nbButton status="danger" size="medium" class="ms-1 mt-0 me-0 mb-0 " type="button" [disabled]="saveTemplateActive" (click)="handelUpdateTemplateOnDb()">Mettre à jour</button>
  </nb-card-footer>
</nb-card>
