<nb-card>
  <nb-card-header class="d-flex justify-content-between mb-4">
    <div>
      <h5>Initiation d'un nouveau projet</h5>
    </div>
  </nb-card-header>

</nb-card>
<div class="col-lg-6">
  <h5 class="mb-4 fs-6">Nouveau Projet</h5>
  <input nbInput type="text"  placeholder="Nouveau Projet..."  [(ngModel)]="projet" >
</div>


  <div class="row mt-4 col-lg-12">
    <form action="" (submit)="addProjet()">
      <div class="col-lg-8">
        <div class="mb-3">
         <label for="formFileMultiple" class="form-label">Fichiers à selectionner</label>
         <input class="form-control" type="file" (change)="onFileSelected($event)"multiple>
       </div>
        <br>
        <br>
        
        <div *ngIf="files.length > 0">
         <h6>Documents projets : </h6>
         <ul class="list-group">
         <li *ngFor="let file of files" class="list-group-item">{{ file.name }}</li>
         </ul>
        </div>
        <button class="btn btn-primary mt-4">Initier</button>
     </div>
    </form>
  </div>