<div id="overlay">
  <svg id="logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
       y="0px"
       viewBox="0 0 493.2 486.5" style="enable-background:new 0 0 493.2 486.5;" xml:space="preserve">
    <style type="text/css">
        .st0 {
          fill: none;
          stroke: #E90031;
          stroke-miterlimit: 10;
        }

        .st1 {
          fill: none;
          stroke: #231F20;
          stroke-miterlimit: 10;
        }

        .st2 {
          fill: none;
          stroke: #FFFFFF;
          stroke-miterlimit: 10;
        }
    </style>
    <path class="st0" d="M0,0h493.2v250H0V0z"/>
    <path class="st1" d="M0,243.2h493.2v243.2H0V243.2z"/>
    <path class="st2" d="M87.8,229.7h317.6v27H87.8V229.7z"/>
    </svg>
</div>
