<div class="header-container">
  <div class="logo-container">
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon pack="eva" icon="menu-2-outline"></nb-icon>
    </a>
    <a href="/" class="logo ">
      <img
        src="assets/images/logo.png"
        alt="Societe Generale Maroc"
      />
    </a>
  </div>
</div>

<div class="header-container">
  <nb-actions size="small">
    <nb-action>
      <button nbButton status="basic" (click)="logout()"><nb-icon icon="lock" class="me-2"></nb-icon>Déconnexion</button>
    </nb-action>
    <nb-action class="user-action">
      <nb-user [name]="username" title="TIJANI Fadwa">
      </nb-user>
    </nb-action>
  </nb-actions>
</div>
