<div >
  <form [formGroup]="templateForm">
    <div class="form-group row" >
      <label class="label col-form-label col-sm-3" for="name">Nom<span class="caption status-danger"><strong>*</strong></span></label>
      <div class="col-sm-9">
        <input nbInput id="name" fullWidth placeholder="Nom" formControlName="name"/>
      </div>
    </div>
    <div class="form-group row">
      <label class="label col-sm-3 col-form-label" for="applications" >Application<span class="caption status-danger"><strong>*</strong></span></label>
      <div class="col-sm-9">
        <ng-select appendTo="body" [items]="applications" bindLabel="name" id="applications" placeholder="Application" formControlName="application" [multiple]="true">
        </ng-select>
      </div>
    </div>
    <div class="form-group row">
      <label class="label col-sm-3 col-form-label" for="typeDemandes">Type de demande<span class="caption status-danger"><strong>*</strong></span></label>
      <div class="col-sm-9">
        <ng-select appendTo="body" [items]="typeDemandes" bindLabel="libelle" id="typeDemandes" placeholder="Type de demande" formControlName="typeDemande" [multiple]="true">
        </ng-select>
      </div>
    </div>
    <div class="form-group row">
      <label class="label col-form-label col-sm-3" for="new-template">Nouveau Fichier<span class="caption status-danger"><strong>*</strong></span></label>
      <div class="col-sm-9">
        <input type="file"  accept="application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document" nbInput id="new-template" fullWidth placeholder="Template" formControlName="attachment" (change)="handleFileInput($event)"/>
      </div>
    </div>
    <div class="form-group row" *ngIf="isEdit">
      <label class="label col-form-label col-sm-3" for="template">Télécharger</label>
      <div class="col-sm-9">
        <a id="template" href="{{baseUrl}}/requests/files/{{refData?.name}} " class="text-decoration-none text-secondary"><nb-icon class="me-2" icon="download"></nb-icon>{{refData?.name}}</a>
      </div>
    </div>
    <div class="buttons-row float-end">
      <button nbButton status="primary" (click)="cancel()">Annuler</button>
      <button nbButton status="primary" class="ml-2" (click)="submit()">Enregistrer</button>
    </div>
  </form>

</div>
